- model_class = Account
= bootstrap_form_for @account do |f|
	.col-md-6.col-md-offset-3
		.panel.panel-default
			.panel-body
				.h2 Create An Account
				= f.fields_for :owner do |o|
					= o.text_field :name
					= o.email_field :email
					= o.password_field :password
					= o.password_field :password_confirmation
				= f.text_field :subdomain, autofocus: true, :append => '.timetracker.dev', class: "form-control"
				%div= f.submit nil,class: 'btn btn-primary btn-block'


